---
layout: page
title: Model Railroading
subtitle: Analysis of Various Widgets
avatar: "/images/modelrr/engine.jpg"
bigimg: "/images/modelrr/train-at-night.jpg"
seq: 0
collection: pages
category: modelrr
permalink: 'projs/modelrr.html'
---

{% assign sorted = site.documents | sort: 'seq' %}
{% for doc in sorted %} 
  {% if doc.collection ==  'projs' %}
    {% if doc.category ==  page.category %}
      <h2 class="post-title">
        {% comment %}
        {{ article.seq }}.  
        {% endcomment %}
        <li>
        <a href="{{ doc.url }}">{{ doc.title }}</a>
        </li>
      </h2>
    {% endif %}
  {% endif %}
{% endfor %}


