---
layout: page
title: The Serial Squid
subtitle: Design Notes
image: "/images/serial-squid-icon512.png"
bigimg: "/images/serial-squid-big-image.png"
collection: pages
category: serial-squid
permalink: 'projs/serial-squid.html'
seq: 0
date: 2016-05-16
---

{% assign sorted = site.documents | sort: 'seq' %}
{% for doc in sorted %} 
  {% if doc.collection ==  'projs' %}
    {% if doc.category ==  page.category %}
      <h2 class="post-title">
        {% comment %}
        {{ article.seq }}.  
        {% endcomment %}
        <li>
        <a href="{{ doc.url }}">{{ doc.title }}</a>
        </li>
      </h2>
    {% endif %}
  {% endif %}
{% endfor %}


